<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:requestLegacyExternalStorage="true">
<!--        android:networkSecurityConfig="@xml/network_security_config">-->


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data
            android:name="TOSS_CLIENT_KEY"
            android:value="${TOSS_CLIENT_KEY}" />

        <activity
            android:name=".ride.MainActivity"
            android:exported="true" />
        <activity
            android:name=".DeepLinkActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".auth.MenuActivity"
            android:exported="false" />

        <activity
            android:name=".auth.MyInfoActivity"
            android:exported="false" />

        <activity
            android:name=".auth.EditMyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".auth.FindPasswordActivity"
            android:exported="false" />


        <activity
            android:name=".auth.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".auth.CheckPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".auth.ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ride.PurchaseTicketActivity"
            android:exported="true" />

        <activity
            android:name=".ride.PointChargeActivity"
            android:exported="false" />

        <activity
            android:name=".ride.TicketActivity"
            android:exported="false" />

        <activity
            android:name=".ride.PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".ride.PurchaseSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ride.PaymentSuccessActivity"
            android:exported="false" />

        <activity
            android:name=".community.InquiryDetailActivity"
            android:exported="true" />

        <activity
            android:name=".community.InquiryListActivity"
            android:exported="false" />

        <activity
            android:name=".community.InquiryWriteActivity"
            android:exported="false" />

        <activity
            android:name=".community.InquiryActivity"
            android:exported="false" />

        <activity
            android:name=".community.CustomerCenterActivity"
            android:exported="false" />

        <activity
            android:name=".community.NoticeActivity"
            android:exported="false" />

        <activity
            android:name=".chatbot.ChatActivity"
            android:exported="false" />

        <activity
            android:name=".ride.QrScanActivity"
            android:exported="false" />

        <activity
            android:name=".ride.RentEndActivity"
            android:exported="false" />

        <activity
            android:name=".ride.UserHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".PointGiftActivity"
            android:exported="false" />

        <activity
            android:name=".GiftConfirmationActivity"
            android:exported="false" />

        <activity
            android:name=".community.InquiryEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
