<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilityHack"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <!-- [3] Gradle에서 주입된 MAPS_API_KEY 참조 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="com.mobility.hack.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mobility.hack.MainActivity" android:exported="true" />
        <activity android:name="com.mobility.hack.auth.LoginActivity" />
        <activity android:name="com.mobility.hack.auth.RegisterActivity" />

        <!-- MapActivity 등록 및 레이아웃 에러 해결 -->
        <activity android:name="com.mobility.hack.ride.MapActivity" />

        <activity android:name="com.mobility.hack.ride.QrScanActivity" />
        <activity android:name="com.mobility.hack.ride.RentEndActivity" />
        <activity android:name="com.mobility.hack.ride.TicketActivity" />
        <activity android:name="com.mobility.hack.community.CustomerCenterActivity" />
        <activity android:name="com.mobility.hack.community.InquiryActivity" />
        <activity android:name="com.mobility.hack.community.NoticeActivity" />
        <activity android:name="com.mobility.hack.community.InquiryWriteActivity" />
        <activity android:name="com.mobility.hack.community.InquiryListActivity" />
        <activity android:name="com.mobility.hack.community.InquiryDetailActivity" />
        <activity android:name="com.mobility.hack.chatbot.ChatActivity" />

        <activity
            android:name="com.mobility.hack.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mobility" android:host="hack" />
            </intent-filter>
        </activity>

    </application>

</manifest>