<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 지도 사용할 때 필요 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <!-- 지도 api키(local.properties에 저장되어있음) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="com.mobility.hack.MainActivity"
            android:exported="true">
        </activity>



        <activity android:name="com.mobility.hack.auth.LoginActivity" />
        <activity android:name="com.mobility.hack.auth.RegisterActivity" />
        <activity android:name="com.mobility.hack.auth.UserHistoryActivity" />
        <activity android:name="com.mobility.hack.ride.QrScanActivity" />
        <activity android:name="com.mobility.hack.ride.RentEndActivity" />
        <activity android:name="com.mobility.hack.ride.TicketActivity" />
        <activity android:name="com.mobility.hack.community.NoticeActivity" />
        <activity android:name="com.mobility.hack.community.InquiryActivity" />
        <activity android:name="com.mobility.hack.auth.MenuActivity" />

        <!-- LLM 챗봇 액티비티 추가 -->
        <activity android:name="com.mobility.hack.chatbot.ChatActivity" />

        <!-- 테스트 - MapActivity를 처음으로 -->
        <activity
            android:name="com.mobility.hack.ride.MapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mobility.hack.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mobility" android:host="hack" />
            </intent-filter>
        </activity>

    </application>

</manifest>